<div class=".container-fluid bottom">

    <footer class="bg-dark text-center text-lg-start text-white">
      <div class="container p-4">
        <div class="row mt-4">
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Products</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/search" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Search Exercises</a>
              </li>
              <li>
                <a href="/search_foods" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Search Foods</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Eat Better</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Aviod Processed Foods</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="fas fa-backspace fa-fw fa-sm me-2"></i>Stick to Clean foods</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Vitamins</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Nutrious Food</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact Us</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white">Muscle Brain</a>
              </li>
              <li>
                <a href="#!" class="text-white">123 Street</a>
              </li>
              <li>
                <a href="#!" class="text-white">05765 NY</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>tamberx4@yahoo.com</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Write to us</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white"><i class="fas fa-at fa-fw fa-sm me-2"></i>Help in feedback</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>What Info You Want To Know</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Join the team!</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">Muscle Brain</a>
      </div>
    </footer>
  
  </div>
